.mvs-form {
	height: 480px;
	margin: 40px auto;
	max-width: 640px;
	position: relative;
	text-align: center;

	input[type=file] {
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 0.1px;
		z-index: -1;
	}

	label[for=usr_image] {
		background-color: orangered;
		color: white;
		cursor: pointer;
		height: 223px;
		position: absolute;
			top: 23px;
			right: 76px;
		width: 240px;

		.fa {
			display: block;
		}
	}

	.mvs-container {
		position: absolute;
			top: 276px;
			left: 20%;
		width: 60%;
		
		.mvs-group {
			display: table;
			margin-bottom: 10px;
			
			label[for^=move] {
				background-color: #eee;
				border: 2px solid silver;
				border-right: 0;
				font-weight: 400;
				display: table-cell;
				padding: 8px 12px;
				text-align: center;
				vertical-align: middle;
				white-space: nowrap;
				width: 1%;
			}
	
			input[type=text] {
				border: 2px solid silver;
				display: table-cell;
				float: left;
				font-size: 18px;
				padding: 6px 12px;
				position: relative;
				width: 100%;
	
				&:focus {
					outline: none;
					
					&[name=move_1] {
					}
	
					&[name=move_2] {
					}
	
					&[name=move_3] {
					}
				}
			}
		}
	}

	.form-group {
		.input-group {
			.form-control, .input-group-addon {
				border-radius: 0;
				border-width: 2px;
			}

			.form-control {
				&:focus {
					box-shadow: none;

					&[name=move_1] {
						border-color: purple;
					}

					&[name=move_2] {
						border-color: orangered;
					}

					&[name=move_3] {
						border-color: royalblue;
					}
				}
			}
		}
	}

	.v-center {
	    position: relative;
	    	top: 50%;
	    transform: translateY(-50%);
	}
}