.container { margin: 20px auto; }

.container input[type=text], .container textarea { box-shadow: none; outline: none; appearance: none; -moz-appearance: none; -o-appearance: none; -webkit-appearance: none; }

#smrt-mvs-form { position: relative; text-align: center; }

#smrt-mvs-form img { margin-bottom: 20px; }

#smrt-mvs-form input[type=file] { height: 1px; opacity: 0; overflow: hidden; position: absolute; width: 1px; z-index: -1; }

#smrt-mvs-form label[for=usr-img] { display: block; margin-bottom: 10px; }

#smrt-mvs-form label[for=usr-img]:hover { cursor: pointer; }

#smrt-mvs-form label[for=usr-img] .img-inner { overflow: hidden; text-align: center; text-overflow: ellipsis; }

#smrt-mvs-form label[for=usr-img] .img-inner i { font-size: 20px; margin-right: 10px; vertical-align: middle; }

#smrt-mvs-form .msg-log { margin-bottom: 20px; text-align: left; }

#smrt-mvs-form .mvs-outer { margin-bottom: 20px; }

#smrt-mvs-form .mvs-outer .form-group { margin-bottom: 10px; }

#smrt-mvs-form .mvs-outer .form-group .input-group-addon { padding: 10px 12px; }

#smrt-mvs-results { position: relative; text-align: center; }

#smrt-mvs-results img { margin-bottom: 20px; }

#smrt-mvs-results .input-group { margin-bottom: 20px; }

#smrt-mvs-tab { position: relative; text-align: center; }

#smrt-mvs-tab .btn-group { margin-bottom: 20px; }

#smrt-mvs-tab .btn-group button { width: 80px; }

@media only screen and (min-device-width: 670px) { .container { width: 670px; }
  #smrt-mvs-form label[for=usr-img] { border-radius: 0; height: 223px; padding: 10px; position: absolute; top: 23px; left: 339px; width: 240px; }
  #smrt-mvs-form label[for=usr-img] .img-inner { position: relative; top: 50%; transform: translateY(-50%); }
  #smrt-mvs-form label[for=usr-img] .img-inner i { display: block; font-size: 42px; margin-right: 0; }
  #smrt-mvs-form .mvs-outer { position: absolute; }
  #smrt-mvs-form .mvs-outer.template-grey { top: 270px; left: 24%; right: 24%; }
  #smrt-mvs-form .mvs-outer.template-green { top: 210px; left: 12%; right: 12%; } }
