input[type=text], .form-control { box-shadow: none; outline: none; appearance: none; -moz-appearance: none; -o-appearance: none; -webkit-appearance: none; }

input[type=text]:focus, input[type=text].focus, .form-control:focus, .form-control.focus { border-color: #ffbf00; }

.btn-yellow { color: #ffbf00; background-color: #fff; border-color: #ffbf00; box-shadow: none !important; }

.btn-yellow:focus, .btn-yellow.focus, .btn-yellow:hover { color: #ffbf00; background-color: #fff9e5; border-color: #ffbf00; }

.btn-yellow:active, .btn-yellow.active, .open > .btn-yellow.dropdown-toggle { color: #fff; background-color: #ffbf00; border-color: #ffbf00; }

.btn-yellow:active:hover, .btn-yellow:active:focus, .btn-yellow:active.focus, .btn-yellow.active:hover, .btn-yellow.active:focus, .btn-yellow.active.focus, .open > .btn-yellow.dropdown-toggle:hover, .open > .btn-yellow.dropdown-toggle:focus, .open > .btn-yellow.dropdown-toggle.focus { color: #fff; background-color: #ffbf00; border-color: #ffbf00; }

.btn-yellow:active, .btn-yellow.active, .open > .btn-yellow.dropdown-toggle { background-image: none; }

.btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled.focus, .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled].focus, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow.focus { background-color: #fff; border-color: #ffbf00; }

.btn-yellow .badge { color: #fff; background-color: #ffbf00; }

.btn-yellow.btn-lg { font-family: Geo, sans-serif; font-size: 26px; padding: 5px 16px; }

.container { margin: 15px auto; }

.msg-log { list-style: none; margin-bottom: 10px; padding-left: 0; }

.msg-log li { background-color: #605cd1; border-radius: 3px; color: #fff; display: table; font-size: 12px; margin: auto auto 10px auto; padding: 6px 10px; }

.msg-log:last-of-type { margin-bottom: 15px; }

#smrt-mvs-form { text-align: center; }

#smrt-mvs-form img { background-color: #000; margin-bottom: 15px; }

#smrt-mvs-form input[type=file] { height: 1px; opacity: 0; overflow: hidden; position: absolute; width: 1px; z-index: -1; }

#smrt-mvs-form label[for=usr-img] { display: block; margin-bottom: 10px; }

#smrt-mvs-form label[for=usr-img]:hover { cursor: pointer; }

#smrt-mvs-form label[for=usr-img] .img-inner { overflow: hidden; text-align: center; text-overflow: ellipsis; }

#smrt-mvs-form label[for=usr-img] .img-inner i { font-size: 20px; margin-right: 10px; vertical-align: middle; }

#smrt-mvs-form .mvs-outer { margin-bottom: 15px; }

#smrt-mvs-form .mvs-outer .form-group { margin-bottom: 10px; }

#smrt-mvs-form .mvs-outer .form-group input[type=text] { border-radius: 0; }

#smrt-mvs-form .mvs-outer .form-group .input-group-addon { border-radius: 0; padding: 10px 10px 10px 14px; }

#smrt-mvs-results { text-align: center; }

#smrt-mvs-results img { margin-bottom: 15px; }

#smrt-mvs-results .input-group { display: none; }

#smrt-mvs-tab { text-align: center; }

#smrt-mvs-tab .btn-group { margin-bottom: 15px; }

#smrt-mvs-tab .btn-group .btn { width: 88.5px; }

@media only screen and (min-device-width: 670px) { body { background: url("../img/sm_splat.svg") center 62px no-repeat; } }

@media only screen and (min-device-width: 670px) and (max-width: 670px) { body { background-position-x: -165px; } }

@media only screen and (min-device-width: 670px) { .container { margin: 30px auto; width: 670px; }
  .msg-log { margin-bottom: 15px; }
  .msg-log li { margin-bottom: 15px; }
  .msg-log:last-of-type { margin-bottom: 30px; }
  #smrt-mvs-form { position: relative; }
  #smrt-mvs-form img { margin-bottom: 30px; }
  #smrt-mvs-form label[for=usr-img] { border: none; border-radius: 0; height: 223px; padding: 10px; position: absolute; top: 23px; left: 339px; width: 240px; }
  #smrt-mvs-form label[for=usr-img] .img-inner { position: relative; top: 50%; transform: translateY(-50%); }
  #smrt-mvs-form label[for=usr-img] .img-inner i { display: block; font-size: 42px; margin-right: 0; }
  #smrt-mvs-form .mvs-outer { margin-bottom: 30px; position: absolute; }
  #smrt-mvs-form .mvs-outer.template-grey { top: 270px; left: 24%; right: 24%; }
  #smrt-mvs-form .mvs-outer.template-green { top: 210px; left: 12%; right: 12%; }
  #smrt-mvs-results { margin-top: 60px; }
  #smrt-mvs-results img { margin-bottom: 30px; }
  #smrt-mvs-results .input-group { display: table; margin-bottom: 30px; }
  #smrt-mvs-tab .btn-group { margin-bottom: 30px; } }
