// Variables
$mvs-orange: #e39900;
$mvs-purple: #605cd1;
$mvs-yellow: #ffbf00;

$mvs-margin: 15px;
$mvs-width:  670px;

@mixin button-variant( $color, $background ) {
	color: $color;
	background-color: $background;
	border-color: $color;
	box-shadow: none !important;
	
	&:focus,
	&.focus,
	&:hover {
		color: $color;
		background-color: lighten( $color, 45% );
		border-color: $color;
	}
	
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $background;
		background-color: $color;
		border-color: $color;
	
		&:hover,
		&:focus,
		&.focus {
			color: $background;
			background-color: $color;
			border-color: $color;
		}
	}
	
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $color;
		}
	}
	
	.badge {
		color: $background;
		background-color: $color;
	}
}

// Styles
input[type=text], .form-control {
	box-shadow: none;
	outline: none;
	
	appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	
	&:focus,
	&.focus {
		border-color: $mvs-yellow;
	}
}

.btn-yellow {
	@include button-variant( $mvs-yellow, #fff );
	
	&.btn-lg {
		font-family: Geo, sans-serif;
		font-size: 26px;
		padding: 5px 16px;
	}
}

.container {
	margin: $mvs-margin auto;
}

.msg-log {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 0;
	
	li {
		background-color: $mvs-purple;
		border-radius: 3px;
		color: #fff;
		display: table;
		font-size: 12px;
		margin: auto auto 10px auto;
		padding: 6px 10px;
	}
	
	&:last-of-type {
		margin-bottom: $mvs-margin;
	}
}

#smrt-mvs-form {
	text-align: center;
	
	img {
		background-color: #000;
		margin-bottom: $mvs-margin;
	}
	
	input[type=file] {
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 1px;
		z-index: -1;
	}
	
	label[for=usr-img] {
		display: block;
		margin-bottom: 10px;
		
		&:hover {
			cursor: pointer;
		}
		
		.img-inner {
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;
			
			i {
				font-size: 20px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	
	.mvs-outer {
		margin-bottom: $mvs-margin;
		
		.form-group {
			margin-bottom: 10px;
			
			input[type=text] {
				border-radius: 0;
			}
			
			.input-group-addon {
				border-radius: 0;
				padding: 10px 10px 10px 14px;
			}
		}
	}
}

#smrt-mvs-results {
	text-align: center;
	
	img {
		margin-bottom: $mvs-margin;
	}
	
	.input-group {
		display: none;
	}
}

#smrt-mvs-tab {
	text-align: center;
	
	.btn-group {
		margin-bottom: $mvs-margin;
		
		.btn {
			width: 88.5px;
		}
	}
}

@media only screen and ( min-device-width: $mvs-width ) {
	body {
		background: url( '../img/sm_splat.svg' ) center 62px no-repeat;
		
		@media only screen and ( max-width: $mvs-width ) {
			background-position-x: -165px;
		}
	}
	
	.container {
		margin: ( $mvs-margin * 2 ) auto;
		width: $mvs-width;
	}
	
	.msg-log {
		margin-bottom: $mvs-margin;
		
		li {
			margin-bottom: $mvs-margin;
		}
		
		&:last-of-type {
			margin-bottom: ( $mvs-margin * 2 );
		}
	}
	
	#smrt-mvs-form {
		position: relative;
		
		img {
			margin-bottom: ( $mvs-margin * 2 );
		}
		
		label[for=usr-img] {
			border: none;
			border-radius: 0;
			height: 223px;
			padding: 10px;
			position: absolute;
				top: 23px;
				left: 339px;
			width: 240px;
			
			.img-inner {
				position: relative;
					top: 50%;
				transform: translateY( -50% );
				
				i {
					display: block;
					font-size: 42px;
					margin-right: 0;
				}
			}
		}
		
		.mvs-outer {
			margin-bottom: ( $mvs-margin * 2 );
			position: absolute;
			
			&.template-grey {
				top: 270px;
				left: 24%;
				right: 24%;
			}
			
			&.template-green {
				top: 210px;
				left: 12%;
				right: 12%;
			}
		}
	}
	
	#smrt-mvs-results {
		margin-top: 60px;
		
		img {
			margin-bottom: ( $mvs-margin * 2 );
		}
		
		.input-group {			
			display: table;
			margin-bottom: 30px;
		}
	}
	
	#smrt-mvs-tab {
		.btn-group {
			margin-bottom: ( $mvs-margin * 2 );
		}
	}
}